.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  color: white;
  overflow: hidden;
}

.lightChain{
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0;
}

.lightBubble {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  list-style-type: none;
  /* background-color: teal; */
}